/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-image:url("afbeeldingen/background.jpeg");
    background-repeat:no-repeat;
    background-size: cover ;
    background-size:350%;

    
    color: white;
    font: Verdana, Arial, Sans-Serif;

}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

img.zweeflink {
    float: right;
    margin: 20px;
    margin-bottom:500px;
    width: 120px;
    height:80%;
    padding-left:50px;
}

img.zweeflink2 {
    float: left;
    margin-top: 50px;
    margin-right:30px;
    margin-left: 0px;
    width: 150px;
    height:80%;
}





/* specifieke stijlen */


.linkjes{font-size:20px;}

img.foto {
    float:right;
    margin-left: 5px;
    width: 200px;
    height:80%;
}

img.logo {
    width:500px;


}

img.navlogo {
    width:100px;
}

img.navlogo2 {
    width:130px;
}

img.headerlogo {
    margin:65px;
    width:500px;
}
    


.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.vriendengroep{ 
    font-weight: bold;
    text-align: center;
   }

   


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    background-color: rgb(90, 160, 90);
    overflow: hidden;
    float:left;
    margin:10px;

}

nav ul li {
    float: bottom;
    margin:5px;
    
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav ul li a.active {
    background-color: rgb(0, 0, 0);
}



