/* Basislayout */

body.different {
    background-image:url("afbeeldingen/aesthetic.jpeg");
    background-repeat:no-repeat;
    background-size:2000px;

}
body.normal{
 background-image:url("afbeeldingen/background.jpeg");   
 background-repeat:no-repeat;
 background-size: cover;
}

html, body {
    height: 100%;
    padding: 0;
    
    

    
    color: white;
    font: Verdana, Arial, Sans-Serif;

}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

img.zweeflink {
    float: right;
    margin: 20px;
    margin-bottom:500px;
    width: 120px;
    height:80%;
    padding-left:50px;
}

img.zweeflink2 {
    float: left;
    margin-top: 20px;
    margin-right:30px;
    margin-left: 0px;
    width: 150px;
    height:80%;
    margin-bottom:20px;
}
img.zweeflink3 {
    float: left;
    margin-top: 20px;
    margin-right:30px;
    margin-left: 0px;
    width: 250px;
    height:80%;
    margin-bottom:20px;
}
img.zweeflink4 {
        float: right;
        margin: 20px;
        width: 120px;
        height:80%;
        padding-left:50px;
}





/* specifieke stijlen */

.color-animation{
    animation-name: colors;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes colors {
    25% {color:blue;}
    50% {color:rgb(255, 145, 0);}
    75% {color: green;}
    100% {color: red}}

    .slidez{ animation-name: slide;
        animation-duration: 15s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        }
    @keyframes slide{
    0% {
        transform: translateX(0px)}
    50% {
        transform: translateX(200px) }
    100% {
        transform: translateX(0px)}}

        .slidez2 { animation-name: slide;
            animation-duration: 15s;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            }
        @keyframes slide{
        0% {
            transform: translateX(-50px)}
        50% {
            transform: translateX(200px) }
        100% {
            transform: translateX(0px)}}

.linkjes{font-size:20px;}

img.foto {
    float:right;
    margin-left: 5px;
    width: 200px;
    height:80%;
    margin-top:10px;
    margin-bottom:-5px;
}

img.logo {
    width:500px;


}

img.navlogo {
    width:100px;
}

img.navlogo2 {
    width:130px;
}

img.headerlogo {
    margin:65px;
    width:500px;
}
    


.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(221, 125, 125);
    text-decoration:none;
    
}

.lols {
    color: rgb(117, 139, 214);
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

.vriendengroep{ 
    font-weight: bold;
    text-align: center;
    color:red;
   }

.locaties{
    font-weight: bold;
    text-align: center;
    color:rgb(0, 183, 255);
}

   


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    background-color: rgb(90, 160, 90);
    overflow: hidden;
    float:left;
    margin:10px;
    margin-right:20px;
   

}

nav ul li {
    float: bottom;
    margin:5px;
    
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav ul li a.active {
    background-color: rgb(0, 0, 0);
}



